.card {
  background-color: grey;
  width: 320px;
  height: 450px;
  margin: 0px auto;
  margin-top: 30px;
  box-shadow: 8px 8px 8px #999;
  border: 15px solid #d8bc73;
  border-radius: 7px;
  margin-bottom: 60px;
}
body {
  margin-top: 50px;
}


.form-control {
  text-align: center;
  margin-bottom: 30px;
}

.form-control input {
  padding: 10px;
  margin: 5px;
  border: solid 1px #999;
  border-radius: 5px;
}

.form-control button {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

.form-control button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.form-control label {
  font-size: 18px;
  margin-right: 10px;
}


table#pokemon-list {
  width: 80%;
  margin: 0px auto;
}

.error-text {
  text-align: center;
    margin-bottom: 30px;
    border: 1px solid #bf5841;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border-radius: 3px;
    background: orange;
}